.center {
    padding-left: calc(50% - 600px);
    // padding-right: calc(50% - 600px);

}

.error {
    display: flex;
    gap: 80px;

    &__content {
        display: flex;
        flex-direction: column;
        gap: 32px;
        max-width: 500px;
    }

    &__decimal {
        margin-top: 200px;
        margin-bottom: 0;
        color: #CDA274;
        font-family: DM Serif Display;
        font-size: 250px;
        font-style: normal;
        font-weight: 400;
        line-height: 125%;
    }

    &__text {
        color: #292F36;
        font-family: DM Serif Display;
        font-size: 35px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
        /* 52.5px */
        letter-spacing: 0.35px;
    }

    &__btn {
        max-width: 205px;
        height: 50px;
        background-color: #292F36;
        border-radius: 12px;
        color: aliceblue;
        display: flex;
        gap: 16px;
        align-items: center;
        justify-content: center;
    }

    &__img {
        padding-top: 1039px;
        width: 768px;
        border-radius: 0 0 0 200px;
        background-image: url('@/assets/images/img_notfound/img.jpg');
    }
}